.container__modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  width: 30vw;
  min-width: 180px;
  height: 30vh;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-times {
  color: red;
  // margin-left: auto;
  display: block;
  text-align: right;
  &:hover {
    transform: scale(1.5);
  }
}

.modal__content {
  width: 100%;
  text-align: center;
  padding: 0 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__content__buttons button {
  padding: 15px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  margin: 10px;
  width: 150px;
  cursor: pointer;
}

.modal__content__buttons .subscribe {
  color: #000;
  background-color: #fff;
  border: 2px solid black;
}