// colors
$color-white: #ffffff;
$color-black: #000000;
$color-orange: #e17334;
$color-khaki: #f9f4dc;
$color-green: #a2deaf;
$color-gBlue: #114e4e;
$color-dBlue: #438792;
$color-back: #f5f5f5;
$color-grey: #6b6b6b;
$color-border: #d8d8d8;
$color-darkGrey: #54585a;
$color-placeholder: #c5c5c5;
$color-button: #d5d5d5;
$color-blue: #00a0f5;
$color-dRed: #420101;
$color-red: #bd1010;
$color-dOrange: #e95626;
$color-dGrey: #3e5b65;
$color-lGrey: #dfe5eb;
$color-blueGrey: #a0c0cf;

// break points
$bp_tablet: 768;
$bp_desktop: 1024;

// fonts
$defaultFontSize: 16;
$openSans: 'Open Sans', sans-serif;
$merri: 'Merriweather', serif;
$montse: 'Montserrat', sans-serif;
